
/* No wrapping */
.wgnowrap { white-space: nowrap; }

/* This class is used in the "total" summary fields for WebGrid. */
.wgtotal
{
	padding:3px;
	font-weight:bold;
	border-top: 1px solid #940324;  
	border-bottom: 2px solid #940324;  
	text-align:left;
	vertical-align:middle;
}

/* This class is used in one cell for the summary field in WebGrid. */
.wgtotalcell
{
	padding:3px;
	font-weight:bold;
	border-top: 1px solid #940324;  
	border-bottom: 2px solid #940324;  
	text-align:right;
	vertical-align:middle;
}
/* This class is used when displaying images from a datasource */
.wgimage 
{
	margin: 0px 0px 0px 0px;
}

span.wgtool {
  position: relative; 
  cursor: help;
}
 
span.wgtool span.wgtip {
  display: none;        
}

/* WebGrid ToolTip */ 
span.wgtool:hover span.wgtip {
  display: block;
  z-index: 100;
  position: absolute;
  top: 2.5em;
  left: 0;
  width: auto;
  line-height: 1.2em;
  padding: 3px 7px 4px 6px;
  border: 1px solid #336;
  background-color: #f7f7ee;
  opacity: 0.70; /* Safari, Opera and Mozilla */
  filter: alpha(opacity=70); /* IE */

 /* font-family: arial, helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;*/
  color: #000;
  text-align: left;
}

/* Background colour for a row in WebGrid */
tr.wgrow{}
/* Background colour for every second row in WebGrid */
tr.wgrow2{}

/* This class is enclosing the entire error box*/
.wgsystemmessagebox 
{
	margin-bottom: 3px;
}

/* This class is used where the error is rendered */
.wgsystemmessagetitle
{
	padding-left: 3px;
	padding-right: 3px;
	color:red;
	font-weight:bold;
}

/* This class is affects the area where 'New Record', 'Update records', and pager are being rendered. */
.wgmiscbox 
{
	padding-top:3px;
}


/* This class affects the NewRecord and update rows link*/
.wgnewrecord 
{
	font-weight:bold;
	color:#940324
}

/* This class encloses the entire editor in detail view (detail mode) */
.wgmaindetail
{
	border: 1px solid #940324;  
	border-collapse:collapse;
	
}


/* HACK FOR FIREFOX.. Makes firefox render the CSS correctly.*/
.wgtitle, foo:-moz-any-link
{
border-right: 1px solid #940324;	
}

/* This class affects the Title text in both grid and detail view */
.wgtitle	
{
	background-color:#940324;
	font-weight:bold; 
	color:white;
}


/* This class affects the title text in both grid and detail view */
.wgtoolbargrid, .wgtoolbardetail	
{
	color:White;
	background: #940324;
	font-weight:bold;
}
/* This class affects the search box in toolbargrid */
.wgsearch 
{
	width: 80px;
	height: 90%;
	padding:3px;
	margin: 2px 0px 2px 0px;
}


/* This class affects the heading text columns in grid view. */
.wggridheader
{
	padding: 3px;
	font-weight:bold;
	background-color:#940324;
}

/* This class affects a row, mainly used for padding.*/
.wgrow
{
	padding-bottom: 2px;
	padding-left: 3px;
	padding-top: 2px;
	padding-right: 3px;
}

/* This class affects areas where you can edit datasource content */
.wgeditfield 
{
	color:black;
	text-align:justify;
	vertical-align:middle;
	color: #443;
	outline: none;
	border: 1px solid #aaa; 
}
	



.wgeditfield:hover,
.wgeditfield:focus
	{ 
	border: 1px solid #ddd;

	}

/* This class encloses the entire editor in grid view (overview mode) */
.wgmaingrid
{
	border: 1px solid #940324;  
	border-collapse:collapse;
	

}

a.wgnewrecord, a.wgsearch, a.wgupdaterecord , a.wgclosewindow
{
    text-decoration:none;
    color:white;
}

a.wgnewrecord:hover, a.wgsearch:hover, a.wgupdaterecord:hover , a.wgclosewindow:hover 
{
	    text-decoration:underline;
    	color:white;
}

/* classes for where hyperlinks are used in the WebGrid window. */

/* Color on clickable columns */
a.wglinkfield
{
	color: Black;
	text-decoration:none;
}

/* Color on the heading */
a.wggridheader {
	color:White;
	background-color:#940324;
	text-decoration:none;
}

/* Class that affects the Pager (page navigation)  */
a.wgpagerunselected:link, a.wgpagerunselected:visited,
a.wgpagerall:link, a.wgpagerall:visited
{
	color: white;
	text-align:left;
	text-decoration:none;
}

/* This class affects the selected item in the Pager (page navigation)*/
.wgpagerselected
{
	color: Black;
	font-weight:bold;
	text-align:left;
}
/* This class affects heading all WebGrid hyperlinks */
a.wggridheader:hover,a.wglinkfield:hover,a.wgpagerunselected:hover,
a.wgpagerall:hover{
	text-decoration: underline;
}



/* This class is used to render background color for WebGrid menu 
	choice that are not in use. */
.wginactivemenu 
{
color:Black;
padding: 0 7px 0 7px;
}

/* This class is used to render background color for WebGrid menu 
	choice that are active. */
.wgactivemenu 
{
color:Black;
padding: 0 7px 0 7px;
}

.wgmenuspacing
{
	width: 3px;
}

/* this class is placeholder for the images and WebGrid menu */
.wgmenunavigation a
{
text-decoration:none;
color:Black;
}

.wgcontainer  
{
	margin:0 0; 
}

